<!-- src/app/footer/footer.component.html -->
<footer class="footer">
  <div class="container">
    <p class="copyright">
      Made by <span>Mohamed Aldosoky</span> &copy; {{ currentYear }}
    </p>
    <div class="social-links">
      <a
        href="https://fb.com/mahmedaldosoky"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-facebook"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/mohamed-aldosoky/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-linkedin"></i>
      </a>
      <a
        href="https://github.com/mahmedaldosoky"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-github"></i>
      </a>
    </div>
  </div>
</footer>
