/* src/app/footer/footer.component.scss */
.footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyright {
    margin: 0;
  }
  .copyright span {
    text-decoration: underline;
  }
  .social-links {
    font-size: 24px;
  
    a {
      color: #333;
      margin: 0 10px;
      transition: color 0.3s ease-in-out;
  
      &:hover {
        color: #007bff;
      }
    }
  }
  